VITE_API_URL=http://localhost:5000/api
VITE_STORE_NAME=SBN KIRANA AND GROCERY
VITE_STORE_PHONE=
VITE_STORE_EMAIL=admin@sbnkirana.com
VITE_STORE_ADDRESS=
VITE_STORE_WEBSITE=sbn-kirana-store.vercel.app
